<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FastQuest</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>

<body>

    <%- include('partials/navbar.ejs') %>
    <div class="container">
        <div class="card" id="ask-form">
            <div class="card-header">
                <h3 style="text-align: center;">Make your question</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="/save">
                    <label>Tittle:</label>
                    <input type="text" placeholder="Topic" class="form-control" name="title">
                    <label>Question:</label>
                    <textarea name="description" id="" cols="30" rows="10" placeholder="Type your question"
                        class="form-control"></textarea>
                    <br>
                    <button class="btn btn-primary form-control" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <%- include('partials/footer.ejs') %>
</body>

</html>